<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
  <video id="videoplayer" autoplay muted preload width="250"></video>
  <audio id="audioplayer" preload="metadata"></audio>
  <div id="next-station-message"></div>
</body>
<%- include ("app.ejs") %>

</html>