<script>
  const handleMessages = (alerts) => {
    const {
      mapping,
      minAlertTimeMs
    } = alerts;
    const videoPlayer = $('#videoplayer');
    const nextStation = $('#next-station-message');
    nextStation.hide();
    const ws = new WebSocket("ws://" + location.host);
    ws.addEventListener("open", () => {
      console.log('opened');
    });
    ws.addEventListener("close", (e) => {
      console.error("WS connection closed", e);
    });
    ws.addEventListener("error", (err) => {
      console.error("WS connection error", err);
    });
    ws.addEventListener('message', (message) => {
      const receivedMessage = JSON.parse(message.data);
      if (receivedMessage.type === 'station') {
        videoPlayer.hide();
        const {
          guidanceText,
          value,
          optional,
          audio
        } = mapping[receivedMessage.id]

        let htmlMessage = `<div class="guidance-text">${guidanceText}</div>
                           <div class="value">${value}</div>` +
          (optional != null ? `<div class="optional">${optional}</div>` : '');

        nextStation.html(htmlMessage);
        nextStation.show();
        videoPlayer.get(0).pause();
        videoPlayer.get(0).currentTime = 0;
        playAudioFile(audio).then((duration) => {
          const audioTimeMs = Math.ceil(duration) * 1000
          const alertTime = audioTimeMs > minAlertTimeMs ? audioTimeMs : minAlertTimeMs;
          setTimeout(() => {
            videoPlayer.show();
            videoPlayer.get(0).play();
            nextStation.hide();
          }, alertTime);
        })
      }
    })
  }
</script>